<div class="row justify-content-center">
  {{!-- Filter option --}}
  <div class="col-12 col-lg-6 mt-4">
    <form>
      <div class="form-group">
        <select name="filterBy" id="inputFilter" class="form-control" onchange="submit();">
          <option disabled selected>選擇類別</option>
          {{#each categories}}
          <option value="{{this.name}}" name="{{this.name}}" {{#if (eq ../filterBy this.name)}} selected {{/if}}>
            {{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </form>
  </div>

  {{!-- Total Amount --}}
  <div class="col-12 my-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-2">
        <h5>總金額：</h5>
      </div>
      <div class="col-12 col-lg-4">
        <h1 class="text-success">$ {{ totalAmount }}</h1>
      </div>
    </div>
  </div>

  {{!-- Record Details --}}
  <div class="col-12 col-lg-8 mt-4">
    <div class="data-panel">
      <ul class="list-group list-group-flush">
        {{#each records}}
        <li class="list-group-item">
          <div class="row d-flex align-items-center">
            <div class="col-2 col-sm-2 d-flex justify-content-center align-items-center">
              <i class="{{this.icon}} fa-2x" style="color: #80e6e8; "></i>
            </div>
            <div class="col-8 col-sm-6">
              <p class="record-name">{{this.name}}</p>
              <p class="record-date">{{this.date}}</p>
            </div>
            <div class="col-2 col-sm-2 d-flex justify-content-center align-items-center">
              <p class="record-amount">{{this.amount}}</p>
            </div>
            <div class="col-12 col-sm-2 text-center buttons">
              <a class="btn btn-primary m-1" href="./expenses/{{this._id}}/edit"><i
                  class="far fa-edit fa-fw edit-btn"></i></a>
              <button type="button" class="btn btn-danger m-1"><i
                  class="far fa-trash-alt fa-fw delete-btn"></i></button>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="row justify-content-center mt-4 create-button">
      <a class="btn btn-info btn-lg my-5" style="width:240px;" href="./expenses/new">新增支出</a>
    </div>
  </div>
</div>